<div class="text-center">

    <h1>Задания в этой части модуля</h1><br />

    <span>----------------------------------------------------------------------------------</span>

    <h3>Задание 1</h3>
    <p>
        Создайте класс Заметка. В нём нужно хранить такую 
    информацию:<br />
    ■Название заметки;
    ■Текст заметки;
    ■Дата создания заметки;
    ■Теги.<br /> 
    Реализуйте необходимые методы и поля.
    Реализуйте вывод информации на экран и в файл. 
    Используйте паттерн MVC в коде этой программы.
    </p>
    <h4>Задание 2</h4>
    <p>
        Добавьте к первому заданию возможность сохранения 
    массива заметок в файл.<br /> 
    Также добавьте возможность загрузки массива заметок из файла.<br /> 
    Обязательно реализуйте возможность сохранения в разных форматах 
    и загрузку из разных форматов файла.
    </p><br />

    <span>----------------------------------------------------------------------------------</span>

    <h3>Задание 3</h3>
    <p>
        Создайте класс Контакт. В нём нужно хранить такую информацию:<br />
     ■Имя контакта;  
     ■Мобильный телефон;     
     ■Альтернативный мобильный телефон;  
     ■Email;     
     ■Краткое описание.<br />
     Реализуйте необходимые методы и поля.
     Реализуйте вывод информации на экран и в файл. 
     Используйте паттерн MVC в коде этой программы.
    </p>
    <h4>Задание 4</h4>
    <p>
        Добавьте к третьему заданию возможность сохранения 
    массива контактов в файл.<br />
    Также добавьте возможность загрузки массива контактов из файла.<br /> 
    Обязательно реализуйте возможность сохранения в разных форматах 
    и загрузку из разных форматов файла.
    </p>

    <span>----------------------------------------------------------------------------------</span>
</div>
